/* color palette {
  color: #010326;
  color: #393e59;
  color: #f0f2f2;
  color: #6fbfbf;
  color: #82d9d9;
} */

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}

html {
  height: 90%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  height: 100px;
  margin: 5px;
  display: flex;
}

i {
  position: relative;
  top: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.bi {
  font-size: 50px;
  position: relative;
  top: -20px;
  right: -44px;
}

/* reset */

.container {
  position: absolute;
  top: 110px;
  right: 300px;
}

.login-button {
  padding: 20px;
  background-color: #a0a0a0;
  border: none;
  border-radius: 20px;
}

.login-button:hover {
  background-color: #ccc;
}

.center-button {
  height: 140px;
  width: 140px;
  background-color: #393e59;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-left: 10px;
  border-radius: 20px;
}

.center-button:hover {
  background-color: #59618d;
}

.Categories {
  float: left;
}

.btnText {
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
  top: 31px;
  right: 24px;
  margin: 0 auto;
  text-align: center;
}
